.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.aboutMe img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--purple);
  margin-bottom: 30px;
  -webkit-user-drag: none;
}

.aboutMe .terminalResponse {
  color: var(--white)
}

.terminalResponse {
  width: fit-content;
}

.terminalResponse  {
  white-space: nowrap;
  animation: response 3s ease-in-out forwards;
}

.terminalLine h1 {
  overflow: hidden;
  border-right: 0.1em solid transparent;
  white-space: nowrap;
  margin: auto;
  animation: typing 2.5s steps(40, end), blink-caret 0.95s ease infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
    border-color: transparent;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ebdbb2;
  }
}