@import './base.css';

 body {
  background-color: #282828;
} 


.footer {
  display: flex;
  width: 100%;
  bottom: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
  color: white;
}

@keyframes response {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

